<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    $CSS_LINKS
    <link rel="stylesheet" href="/assets/css/main.css">

    <title>My Website</title>
</head>
<body>

<div id="sidebar">
    <div class="sidebar-list">
            <a class="list-item" href="/">Home</a>
            <a class="list-item" href="/login">Login</a>
            <h5>Dokumentation</h5>
            <a class="list-item" href="/variables">Variabler</a>
            <a class="list-item" href="/commands">Konsol kommandoer</a>
            <a class="list-item" href="/createnewprojct">Oprettelse af nyt projekt</a>
            <a class="list-item" href="/fetch">Fetch</a>
            <a class="list-item" href="rest">Rest</a>
            <a class="list-item" href="/callback">Callback</a>
            <a class="list-item" href="/loops">loops</a>
            <a class="list-item" href="/webadress">Webadresser</a>
            <a class="list-item" href="/spreadoperator">Spread operator</a>
            <a class="list-item" href="/package-json">Package.json</a>
            <a class="list-item" href="/nodemon">Nodemon</a>
            <a class="list-item" href="/readfiles">Læse filer</a>
            <a class="list-item" href="/date">Dato</a>
            <a class="list-item" href="/ssr">Serverside rendering(SSR)</a>
            <a class="list-item" href="/ssr">import/eksport</a>
        </div>
    </div>

    <main>